<h2>Possible match:</h2>
<p>The person name: <%= user.name %></p>
<br><br>
<p>The person is interested in: <%= user.interest %></p>
 
<!-- Like -->
<div>
Like:  
	<form action="/matches/<%= user.id %>/<%= user.name %>" method="POST">
		<input type="hidden" name="what_to_do" id ="what_to_do" value="match">
		<button type="submit"> here.</submit>
	</form>
</div>

<!-- Dislke -->
<div>
Skip:  
	<form action="/matches/<%= user.id %>/<%= user.name %>" method="POST">
		<input type="hidden" name="what_to_do" id ="what_to_do" value="skip">
		<button type="submit"> here.</submit>
	</form>
</div>

