<body style="background-color: rgb(237, 167, 218);"></body>

<head>
  <title>Dating site</title>
</head>

<div>
 <h1 style="color: rgb(225, 87, 193);">Dating site<img src="/images/loop.img" width = 10%></img></h1>
 <h2 style="color: rgb(225, 87, 193);">Profile of potential match</h2>
</div>

<p style="color: rgb(225, 87, 193);">Name of single: <%= user.name %></p>
<p style="color: rgb(225, 87, 193);"><%= user.name %> is interested in <%= user.interest %>s</p>
<br></br>
 
<!-- Like -->
<div> 
	<form action="/yourmatches/<%= user.id %>/<%= user.name %>" method="POST">
		<input type="hidden" name="what_to_do" id ="what_to_do" value="match">
		<button type="submit">Like</submit>
	</form>
</div>

<!-- Dislke -->
<div>
	<form action="/yourmatches/<%= user.id %>/<%= user.name %>" method="POST">
		<input type="hidden" name="what_to_do" id ="what_to_do" value="skip">
		<button type="submit">Dislike</submit>
	</form>
</div>
<br></br>

<div>
	<a href="/user" style="color: rgb(225, 87, 193);">Back to your profile</a>
</div>


